@import url(https://fonts.googleapis.com/css?family=Roboto:400,700,500,400italic);
@import url(https://fonts.googleapis.com/css?family=Crimson+Text);
* {
  margin: 0;
  padding: 0;
}
body {
  display: block;
  margin: 0 auto;
  background-color: #EDFFF5;
}
/*LOGO for vårt prosjekt.*/
#logo {
  display: inline-block;
  text-decoration: none;
  position: absolute;
  left: 7%;
  line-height: 1.7;
}
/*Heile header for menyen*/
.meny {
  position: fixed;
  width: 100%;
  height: 60px;
  background-color: #EDFFF5;
  z-index: 500;
  /*background-color: #243536;*/
}
nav {
  position: absolute;
  display: inline-block;
  right: 5%;
  margin-top: 5px;
}
#navigasjon li {
  display: inline-block;
}
#navigasjon a {
	font-family: 'Roboto', sans-serif;
  font-size: 18px;
	font-weight: 700;
  min-width: 100px;
  padding: 18px 40px 17px;
  color: white;
  text-align: center;
  text-decoration: none;
  line-height: 3;
  color: #F8BD01;
}
/*Laga ein visuell effekt med namnet SRM*/
.bakgrunnlogo{
  font-family: 'Roboto', sans-serif;
	font-weight: 700;
  font-size: 100px;
  opacity: 0.3;
  z-index: -1;
  color: #F8BD01;
}
#navigasjon a:hover {
  border-top: 15px solid #F8BD01;
}
#about{
  margin: auto;
  width: 1000px;
  height: 600px;
  padding-top: 150px;
}
/*Section for blogg*/
#blogg{
  height: 1000px;
  width: 1000px;
  margin: auto;
  text-align: justify;
}

#blogg h2{
  text-align: center;
  padding-top: 2em;
}

.innhold {
  width: 100%;
}

.innhold h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 28px;
    margin-top: 231px;
    text-align: justify;
}

.innholdbilde {
    float: left;
    margin-top: 20px;
}

.innholdtekst {
  font-size: 20px;
  line-height: 1.25;
}

.ingress {
  position: left;
  padding-top: 6.5%;
}

.ingresstext {
  font-size: 24px;
  line-height: 1.25;
}

/*Fikser kul style på bloggsection
Altså høgre section*/

.leftblogg{
  margin-top: 8%;
  float: left;
  width: 47%;
}
/*Fikser kul style på bloggsection
Altså høgre section*/
.rightblogg{
  margin-top: 2%;
  float: right;
  width: 47%;
  margin-right: 1%;
}
/*Section for tekst for å få fin padding og leseflyt*/
.tekst {
  padding-top: 1%;
  text-align: center;
}

.tekst h2 {
	padding-bottom: 15px;
}
  /*Klasse for alle sections, superklasse!*/

/*p til ingressen*/
.ingress p{
  margin-top: -5%;
  margin-bottom: 2%;
  margin-right: 20px;
}

/*Bildecollage under ingressen*/
.ingressbilde {
  width: 98%;
}

/*Bilde for blogg*/
.bloggbilde {
  width: 350px;
  padding: 3% 0 2% 0;
  text-align: center;
  margin-left: 10%;
}

/*Video tag for videoen i #prototype section*/
video {
  width: 60%;
  margin: 3% 0 0 4%;
  float: left;
}
#profilar h3{
  color: white;
  margin-top: 15%;
  margin-bottom: 2%;
}
#profilar h5{
  color: white;
}
/*Laget over brukarprofilane i prototype.*/
#profilar{
  height: 900px;
  position: absolute;
  z-index: 200;
  width: 100%;
  background-color: black;
  text-align: center;
}
/*style for brukarprofilane*/
.brukarprofil{
  width: 200px;
  height: 200px;
  color: white;
  display: inline-block;
  margin: 1em;
}

/*Section for video og prototype*/
#prototype {
  text-align: center;
	height: 900px;
  width: 100%;
  background-color: #262626;
  padding-top: 5%;
  position: relative;
}

#prototype h2, #ptext{
	color: white;
  text-align: center;
  margin: 0 auto;
}

h1{
  color: #F8BD01;
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
}

h2  {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 28px;
}

/*Global regel for h3, h4, og h5*/
  h3, h4, h5 {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-style: normal;
  color: black;
}

p{
	font-family: 'Crimson Text', serif;
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	text-transform: none;
	text-decoration: none;
	letter-spacing: -0.019em;
	word-spacing: 0.041em;
	line-height: 1.25;
}

footer{
  width: 100%;
  height: 200px;
  background-color: #B4B6B9;
}
/*Første blokk i footer med tittel*/
#footertittel{
  color: #F8BD01;
  background-color: #CDD4DA;
  width: 100%;
  height: 50px;
  text-align: center;
  line-height: 3.20;
}

.toppen {
  margin: -70px 50px 0 0;
  float: right;
  width: 100px;
}

/*Respektive sections i footer*/
.intro{
  float: left;
  padding: 1%;
  width: 42%;
  height: 70px;
  margin: 3%;
}
.intro h5{
  padding-bottom: 0.5em;
}
.intro p{
  font-size: 0.9em;
}
/*sentrerer sections*/
#center{
  margin: auto;
  width: 800px;
}
#footerright{
  text-align: right;
}
.some{
  width: 50px;
  height: 50px;
}
/*Target interktiv klasse*/
#footnote{
  position: relative;
  float: right;
  margin: 3% 7% 0 0;
}
/*Her er det som ligg i aktiv pause når det blir trykka på pause i videoen*/
#aktivpause{
  width: 50%;
  height: 30%;
  position: absolute;
  z-index: 2;
  margin: 8% 0 0 9%;
}
/*Biletet som kjem fram på aktiv pause*/
#innhald, #innhaldblogg{
  width: 100%;
}
/*Fikser interaktiv mobil IKKJE RØYR*/
iframe{
  border: none;
  width: 186px;
  height: 327px;
  position: absolute;
  margin: 46px 0 0 12px;
}
.tekstpop{
  height: 50px;
  width: 60%;
  margin: 4% 0 0 4%;
  top: 1400px;
  padding: 5px;
}
#pop, #pop1{
  font-size: 1.3em;
  line-height: 160%;
  text-align: left;
  color: white;
  font-family: sans-serif 'helvetica', 'arial';
}
video::-webkit-media-controls-fullscreen-button {
    display: none;
}
