@import url(https://fonts.googleapis.com/css?family=Roboto:400,700,500,400italic);
@import url(https://fonts.googleapis.com/css?family=Crimson+Text);
* {
  margin: 0;
  padding: 0;
}
body {
  display: block;
  margin: 0 auto;
  background-color: #EDFFF5;
}
/*LOGO for vårt prosjekt.*/
#logo {
  display: inline-block;
  text-decoration: none;
  position: absolute;
  left: 7%;
  line-height: 1.7;
}
/*Heile header for menyen*/
.meny {
  position: fixed;
  width: 100vw;
  height: 60px;
  z-index: 5;
  /*background-color: #243536;*/
}
nav {
  position: absolute;
  display: inline-block;
  right: 5%;
  margin-top: 5px;
}
#navigasjon li {
  display: inline-block;
}
#navigasjon a {
	font-family: 'Roboto', sans-serif;
  font-size: 18px;
	font-weight: 700;
  min-width: 100px;
  padding: 18px 40px 17px;
  color: white;
  text-align: center;
  text-decoration: none;
  line-height: 3;
  color: #F8BD01;
}
/*Laga ein visuell effekt med namnet SRM*/
.bakgrunnlogo{
  font-family: 'Roboto', sans-serif;
	font-weight: 700;
  font-size: 100px;
  opacity: 0.3;
  z-index: -1;
  color: #F8BD01;
}
#navigasjon a:hover {
  border-top: 15px solid #F8BD01;
}
#about{
  margin: auto;
  width: 1000px;
  height: 600px;
  padding-top: 150px;
}
/*Section for blogg*/
#blogg{
  height: 1000px;
  width: 1000px;
  margin: auto;
}
#blogg h2{
  text-align: center;
  padding-top: 2em;
}
/*Fikser kul style på bloggsection
Altså høgre section*/
.leftblogg{
  margin-top: 2%;
  float: right;
  text-align: left;
  width: 48%;
}
/*Fikser kul style på bloggsection
Altså høgre section*/
.rightblogg{
  text-align: right;
  float: left;
  width: 48%;
  margin-right: 4%;
}
/*Section for tekst for å få fin padding og leseflyt*/
.tekst {
  padding-top: 3%;
  text-align: center;
}
.tekst h2 {
	padding-bottom: 20px;
}
  /*Klasse for alle sections, superklasse!*/
.innhold {
  width: 100vw;
  height: 100vh;
}
/*Bilde for blogg*/
.bloggbilde {
  width: 350px;
  padding: 2% 0 2% 0;
}

/*Video tag for videoen i #prototype section*/
video {
  width: 750px;
  margin: 7% 0 0 4%;
  float: left;
}

/*Section for video og prototype*/
#prototype {
  text-align: center;
	height: 800px;
  width: 100vw;
  background-color: #262626;
}

#prototype h2, #prototype p{
	color: white;
  text-align: center;
}

h1{
  color: #F8BD01;
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
}

h2  {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 28px;
}

/*Global regel for h3, h4, og h5*/
  h3, h4, h5, #footnote {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-style: normal;
  color: black;
}

p{
	font-family: 'Crimson Text', serif;
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	text-transform: none;
	text-decoration: none;
	letter-spacing: -0.019em;
	word-spacing: 0.041em;
	line-height: 1.25;
}

footer{
  width: 100vw;
  height: 200px;
  background-color: #B4B6B9;
}
/*Første blokk i footer med tittel*/
#footertittel{
  color: #F8BD01;
  background-color: #CDD4DA;;
  width: 100vw;
  height: 50px;
  text-align: center;
  line-height: 3.20;
}

.toppen {
  margin-top: -70px;
  float: right;
  width: 100px;
}

/*Respektive sections i footer*/
.intro{
  float: left;
  padding: 1%;
  width: 42%;
  height: 70px;
  margin: 3%;
}
.intro h5{
  padding-bottom: 0.5em;
}
.intro p{
  font-size: 0.9em;
}
/*sentrerer sections*/
#center{
  margin: auto;
  width: 800px;
}
#footerright{
  text-align: right;
}
.some{
  width: 50px;
  height: 50px;
}
/*Target for popcorn tekst*/
#footnote{
  float: right;
  width: 37%;
  color: white;
  margin: 7% 0 0 0;
  font-size: 2em;
}
/*section over iphone IKKJE RØYR*/
#interaktiv{
  position: absolute;
  margin: 46px 0 0 143.81px;
  height: 327px;
  width: 186px;
  background-color: white;
}
